
<h1>All Teachers Teaching The Course Programming 1</h1>

<table class="table">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Teacher Name</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.CourseName</td>
                    <td>@item.TeacherName</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="2">No data available</td>
            </tr>
        }

    </tbody>
</table>
